<div class="container">
  <form #myForm="ngForm">
    <div class="form-group">
      <label>帳號</label>
      <input type="text" ngModel name="acc" required class="form-control">
    </div>
      <div class="form-group">
        <label>電話</label>
        <input type="text" #tel="ngModel" minlength="7" pattern="[0-9]*" ngModel name="tel" required class="form-control">
      </div>
      <div *ngIf="tel.errors" style="color:red">
        <div *ngIf="tel.errors.required">
          必填未填
        </div>
        <div *ngIf="tel.errors.minlength">
          長度不能小於7
        </div>
        <div *ngIf="tel.errors.pattern">
          請輸入數字
        </div>
      </div>
      <button type="button"  [disabled]="myForm.invalid" class="btn btn-success">送出</button>
      <button type="button" (click)="see(tel)" class="btn btn-success">查看</button>
  </form>
  <pre>
    {{tel.errors|json}}
  </pre>
</div>

